/* table on products page */
.table, th, td {
    font-family: 'Times New Roman', Times, serif,;
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
    float: left;
    width: 100%;
  }

img {
  width: 400px;
  height: 400px;
}

/* home imsge*/
.bg-img{
   background-image: url('/static/images/Unknown.jpeg');
   background-size: cover;
}

/* navigation bar */
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  position: absolute;
  width: auto;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  list-style: none;
}

nav li {
  float: left;
  text-align: center;
  margin-left: 180px;
  margin-right: 150px;
  padding-top: 50px;
}

nav a {
  color: rgb(243, 243, 243);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
}

nav a:hover {
  color: rgb(139, 139, 139);
}

::-webkit-scrollbar {
  width: 10px;
}

/* news page article links */
h1 a {
  text-decoration: none;
  font-family: 'Times New Roman';
  font-size: medium;
  padding-left: 100px;
  color: rgb(83, 83, 83);
}

h1 a:hover{
  color: rgb(193, 193, 193);
}

h2 a{
  text-decoration: none;
  font-family: 'Times New Roman';
  font-size: medium;
  padding-left: 100px;
  color: rgb(83, 83, 83);
}

h2 a:hover{
  color: rgb(193, 193, 193);
}

h3 a {
  text-decoration: none;
  font-family: 'Times New Roman';
  font-size: medium;
  padding-left: 100px;
  color: rgb(83, 83, 83);
}

h3 a:hover{
  color: rgb(193, 193, 193);
}

