/* products page flexbox for database contents */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 80px;
}

.flex-item {
  border: none;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  min-width: 100px;
  color: white;
}

.flex-image {
  display: grid;
  text-align: center;
  width: 370px;
  height: 370px;
}

/* headings */
.pr-links{
  text-decoration: none;
  color: white;
}

.pr-links:hover{
  color: rgb(94, 93, 93);
}

/* flexbox on var.html img + desc */
.container-1{
  display: flex;
  margin: auto;
  width: 80%;
  text-align: center;
}

.pimg{
  width: 550px;
  height: 500px;
  padding-top: 50px;
  padding-left: 50px;
  transform: translate(-50px, -50px);
}

.contents{
  font-size: 25px;
  color: white;
  background-color: rgb(165, 176, 88);
  height: 500px;
  width: 550px;
}

.heading{
  font-size: 40px;
}

.desc{
  font-size: 22px;
}

/* home page background img*/
.homeebg{
   background-image: url('/static/images/bgimg5-2.jpg');
}

/* home page image slideshow */
.photo_reel{
  padding-left: 50px;
  padding-top: 50px;
  transform: translate(-50px, -50px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
}

/* product page background img */
.bgimg3{
  background-image: url('/static/images/bgimg5.jpg');
}

/* learn page background img */
.bgimg5b {
  background-image: url('/static/images/bgimg5b.jpg');
}

/* articles css grid on learn page */
.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: main main;
  margin-left: 30px;
  height: 400px;
  width: 1300px;
  padding: 30px;
  grid-gap: 40px;
}

/* article border */
.grid-item{
  background-color: #d5e3e6b3;
  text-decoration: none;
  text-align: center;
  color: rgb(66,121,152);
  font-size: 20px;
  padding: 15px;
}

.art-img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

/* nav bar */
body {
  margin: 0;
}

.container {
  position: absolute;
  top: 0;
  width: auto;
  margin: 0;
}

nav ul {
  margin: 0;
  list-style: none;
}

nav li {
  float: left;
  text-align: center;
  left: 0;
  margin-left: 175px;
  margin-right: 150px;
  padding-top: 50px;
}

nav a {
  color: rgb(243, 243, 243);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
}

/* changes colour when hovered */
nav a:hover {
  color: rgb(94, 93, 93);
}

