<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- linking this template to stylesheet -->
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}"> 
    <title>Document</title>
</head>
<body>
    <!-- nav bar -->
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:5000">Home</a></li>
                    <li><a href="http://127.0.0.1:5000/product">Products</a></li>
                    <li><a href="http://127.0.0.1:5000/learn">Learn</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <br><br><br><br><br><br><br><br><br><br><br>

    <!-- image slideshow -->
    <video autoplay muted playsinline class="photo_reel">
        <source src="static/images/photo_reel.mp4" type="video/mp4">
    </video>

    <!-- background img -->
    <body class="homeebg"></body>

</body>
</html>