<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:5000">Home</a></li>
                    <li><a href="http://127.0.0.1:5000/product">Products</a></li>
                    <li><a href="http://127.0.0.1:5000/learn">Learn</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <br><br><br><br> <br><br><br><br>

<h1>
<a href="https://www.dezeen.com/2022/05/25/the-plus-furniture-factory-big-vestre/">BIG completes "world's most environmentally-friendly furniture factory" in Norway</a>
<br>
<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=newssearch&cd=&cad=rja&uact=8&ved=2ahUKEwid5JG_wYH4AhW0V3wKHSePCo44FBDF9AEoAHoECAMQAg&url=https%3A%2F%2Fwww.hortidaily.com%2Farticle%2F9430113%2Fthe-new-law-in-france-for-sustainable-packaging%2F&usg=AOvVaw3HTrWJ84n3imA5DjPz5rYx">The new law in France for sustainable packaging</a>
<br><br>
</h1>

<h2>
<a href="https://www.sciencedaily.com/releases/2022/05/220503201658.htm">Seashell-inspired shield protects materials in hostile environments</a>
<br><br>
<a href="https://www.windowscentral.com/acer-environmentally-friendly-vero-mouse-keyboard-projector">Acer shows off environmentally friendly Vero mouse, keyboard, and projector</a>
<br><br>
</h2>

<h3>
<a href="https://dealersupport.co.uk/preparing-for-the-plastic-packaging-tax/">Preparing for the plastic packaging tax</a>
<br><br>
<a href="https://www.einnews.com/pr_news/574119672/eco-friendly-packaging-market-forecasted-to-grow-usd-256-631-56-million-by-2029-with-cagr-of-4-5">Eco-Friendly Packaging Market Forecasted to Grow USD 256,631.56 million by 2029 with CAGR OF 4.5%  </a>
</h3>

<body style="background-color: rgb(183, 197, 199);"></body>

</body>
</html>