<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:5000">Home</a></li>
                    <li><a href="http://127.0.0.1:5000/product">Products</a></li>
                    <li><a href="http://127.0.0.1:5000/news">News</a></li>
                </ul>
            </nav>
        </div>
    </header>
   
    <br><br> <br><br> <br><br> 

    <table class="center">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    {% for item in results %}
        <tr>
            <td> {{item[1]}} </td>
            <td> ${{item[2]}} </td>
            <td><img src="{{url_for('static', filename='images/tooth.webp')}}"></td>
            <td>
                <form action="/delete" method="post">
                    <input type="hidden" name="product_name" value="{{item[0]}}">
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

   <form action="/add" method="post">
        <h1> enter new product </h1>
        <input type="text" name="product_name" placeholder="enter name" required="true">
        <input type="number" name="product_price" placeholder="please use decimals" min="0.00" step="0.01" required="true">
        <input type="submit" value="add">
    </form>


    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<body style="background-color: rgb(132, 142, 71);"></body>

</body>
</html>